@import url('https://fonts.googleapis.com/css2? family=Poppins :wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}
.p-5{
    padding: 20px;
    background-color: aliceblue;
    transition: 0.4s;
}
.p-5:hover{
 background-color: #000;
 color: white;

}
.text-warning{
    
    font-size: 40px;
text-shadow: 10px 10px 10px red;

}
.row text-center g-4{
    background-color: gray;
    border-radius: 50px;
    padding: 20px;
}
